# SQL3
*.sqlite
ios/platform.sqlite

**/clients/**/temp

/temp_assets
/builds
/bundle

# code coverage
coverage/

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Gradle
#
android/.gradle

# Android Studio
#
.idea/
*.iml
local.properties
/.vscode
/tsconfig.json
android/.project
android/app/.project
android/.settings/org.eclipse.buildship.core.prefs
android/.classpath
android/app/bin/

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
android/app/.classpath
android/app/.settings/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
main.jsbundle
ios/reactapp/main.ios.js
ios/reactapp/main.ios.js.meta
ios/reactapp/main.ios.jsbundle.meta
android/app/src/main/assets/main.android.js
android/app/src/main/assets/main.android.js.meta
android/app/src/main/assets/main.android.jsbundle.meta

# BUCK
buck-out/
\.buckd/
*.keystore
!android/app/debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# RNFirebase specific
#
.expo/
/ios/Pods/
google-services.json
GoogleService-Info.plist

# RNFirebaseStarter
yarn.lock
package-lock.json
.next

# Ignore test report
test-report.xml

# Don't even know what this is
*.tgz


reports
*.env

secrets.env
**/secrets.env
/modules/**
!/modules/.gitkeep

*.pem
*.tfstate.backup
*.tfstate

.env
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

*.tgz
jest_html_reporters.html
*.code-workspace
**/temp/**
.temp

node_modules/
npm-debug.log
yarn-error.log
.npm
.eslintcache
.yarn-integrity


# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
#
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
